{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a772aefe7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home/login.css' %}">
    <title>CORTEX - IFPI/LOGIN</title>
</head>
<body background="{% static 'img/backgroundCortex.jpg' %}">
<h1>
    <img src="{% static 'img/home/logoifpi.png' %}" alt="Instituto federal de educação, ciência e tecnologia. PIAUÍ">
</h1>
<div id="form">
    {%if dict%}
        <p>{{dict}}</p>
    {%endif%}
    <form id="login-form" action="{%url 'fazerLogin'%}" method="POST">
        {% csrf_token %}
        <h2><img src="{% static 'img/home/logoform.png' %}" alt="" width="200"></h2>
        
        <label for="usuario">Nome de usuário</label>
        <div class="input">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Nome de usuário" id="usuario" name="usuario" required>
        </div>
      
        <label for="senha">Senha</label>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Senha" id="senha" name="senha" required>
        </div>
      
        <div class="botao">
          <button type="submit">Entrar</button>
        </div>
      
        <a href="{% url 'recSenha' %}" rel="noopener noreferrer" id="recSenha">Esqueci minha senha</a>
      </form>
      {% comment %}
      
      INTRODUÇÃO AO JINJA
      
      {%if resultado%}
        <h1>
          {{resultado}}
        </h1>
      {%else%}
      <h1>Sem dados</h1>
      {%endif%}

      {%for resultados in resultado%}
        <p>{{resultados[0]}}</p>
      {%endfor%}

      {%if status == 0%}
      <h1>Sucesso</h1>
      {%endif%}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {%for resultado in resultado%}
          <tr>
            <th scope="row">1</th>
            <td>{{resultado.email}}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          {%endfor%}
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div> {% endcomment %}


</body>
<script>
  localStorage.setItem('token', '{{ "" }}');
</script>

</html>