{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste de paginação</title>
  <link rel="stylesheet" href="styles.css"> <!-- Se você tiver um arquivo CSS externo -->
  <style>
    /* Estilos CSS adicionais podem ser colocados aqui */
  </style>
</head>
<body>
    <h1>Teste de paginação</h1>
    {% for endereco in enderecos_paginados %}
        <h2>Verificando posição {{ endereco.posicao }}</h2>
        <p>Status: {{ endereco.status }}</p>
        <p>Nome: {{ endereco.nome }}</p>
        <button class="btn-proxima" data-posicao="{{ endereco.posicao }}">Próxima opção</button>
        <hr>
    {% endfor %}

    {% if enderecos_paginados.has_previous %}
        <a href="?pagina={{ enderecos_paginados.previous_page_number }}">Página Anterior</a>
    {% endif %}

    {% if enderecos_paginados.has_next %}
        <a href="?pagina={{ enderecos_paginados.next_page_number }}">Próxima Página</a>
    {% endif %}

    <a href="{% url 'logout' %}" class="link">Logout</a>

    <script>
        const enderecos = JSON.parse('{{ enderecos | safe }}');
    </script>

    <!--<script src="{% static 'js/meu_script.js' %}"></script>-->

    <p>{{ mensagem }}</p>
</body>
</html>

