@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
}

/* 
.retornar {
    display: none;
} */

#bo-retornar {
    border: 3px solid #fff;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
}

.container{
    display: grid;
    place-content: center;
    margin-top: 50px;
    gap: 50px;
}

.caixa{
    width: 803px;
    height: 474px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 4px #fff;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
}

.container_day {
    /* background-color: darkred; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dia,.data,.horario{

    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    /* background-color: red; */
}

.botao {
    display: grid;
    place-content: center;

    margin-top: 80px;
}

button {
    border: 3px solid #ffff;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 218px;
    height: 68px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transition: 200ms ease-in;
    border: 6px solid #ffff;
}

.bo_disable {
    border: 3px solid #a7a4a4;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 218px;
    height: 68px;
    font-size: 28px;
    font-weight: 700;
    color: #a7a2a2;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bo_disable:hover {
    transition: none;
    border: 2px solid #9e9999;
}

.horario{
    position: relative;
    margin-top: 70px;
    text-align: center;
}

.link {
    height: 58px;
    width: 320px;
    border: 3px solid #ffff;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;

    font:400;
    font-size: 30px;
    color: #ffff;
    box-shadow: 0px 4px 4px 0px #00000040;

    display: grid;
    place-content: center;
}

.link:hover {
    font-size: 35px;
    border: 5px solid #ffff;
    transition: font-size 0.3s ease-in-out;
}

.loader {
    text-align: center;
}

.fa-spinner {
    font-size: 100px;
    color: #f1f3f5; /* cor azul */
}


@media screen and (max-width: 767px) {
    /*diminuir o tamanho da ciaxa*/
    .caixa{
        width: 350px;
        margin: 10px;
        /* background-color: red; */
    }

    /*diminuir o tamanho das letras*/
    .dia,.data,.horario{
        font-size: 20px;
        /* background-color: rgb(51, 10, 216); */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    /*diminuir o tamanho da ciaxa*/
    .caixa{
        width: 700px;
        /* background-color: blue; */
    }

    /*diminuir o tamanho das letras*/
    .dia,.data,.horario{
        font-size: 25px;
    }
    
}