@charset "utf-8";


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.logo {
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
}

.retornar {
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
}
 
.container_links {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-tickets{
    margin-top: 30px;
}

.link {
    height: 58px;
    width: 320px;
    border: 3px solid #ffff;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;

    font:400;
    font-size: 30px;
    color: #ffff;
    box-shadow: 0px 4px 4px 0px #00000040;

    display: grid;
    place-content: center;
}

.link:hover {
    font-size: 35px;
    border: 5px solid #ffff;
    transition: font-size 0.3s ease-in-out;
}

.espera {
    height: 58px;
    width: 320px;
    border: 3px solid #ffff;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;

    font:400;
    font-size: 30px;
    color: #ffff;
    box-shadow: 0px 4px 4px 0px #00000040;

    display: grid;
    place-content: center;
}

.caixa1 {
    place-content: center;
    display: grid;
    place-content: center;
    width: 100%;
    background-color: cornflowerblue;
}

.containerUm {
    width: 100%;
    height: 250px;
    /* padding-left: 200px; */
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.containerUm form {
    /* background-color: rgb(255, 171, 15); */
    width: 100%;
    height: 200px;
    margin-inline: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-container {
    /* background-color: rgba(14, 251, 93, 0.951); */
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.finalizar {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    /* border: none; */
    box-shadow: 2px 1px 0px 1px #000;
    /* background-color: transparent; */
    border: 2px solid #fff;
    transition: font-size 0.1s ease-in-out;
}

.finalizar:hover, .finalizar:active {
    font-size: 22px;
    /* padding-left: 2px; */
}


.cpf {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;

    color: #ffff;
}

.input {
    box-sizing: border-box;
    border: 1.84028px solid #FFFFFF;
    border-radius: 46.0069px;
    height: 60px;
    width: 600px;
    /* margin-top: 10px; */
    /* margin-left: 0px; */
    /* bottom: 0%; */
    background: transparent;
    cursor: pointer;
    outline-style: none;
    font-size: 25px;
    color: #FFFFFF;

    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-indent: 35px;
}

.input:hover {
    border: 4px solid #FFFFFF;
    transition: 300ms;
    animation: ease-out;
}

.input::placeholder {
    color: #fff;
}

.botao1 {
    height: 60px;
    width: 150px;
    margin-left: 25px;
    top: 165px;
    background-color: transparent;
    cursor: pointer;
    color: #ffff;

    border: 3px solid #FFFFFF;
    border-radius: 40px;

    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}

.botao1:hover {
    border: 4px solid #FFFFFF;
    transition: 300ms;
    animation: ease-out;
}

.seta {
    height: 100px;
    margin-top: -22px; 
    margin-left: -15px;
}

.proximo {
    /* position: absolute; */
    width: 150px;
    height: 60px;
    cursor: pointer;
    color: #ffff;
    /* margin-top: 13px;
    margin-left: 30px; */

    border: 3px solid #FFFFFF;
    background-color: transparent;
    border-radius: 30px;
}

.proximo:hover {
    border: 4px solid #FFFFFF;
}

.container2 {
    display: flex;
    justify-content: center;
}

.linha {
    display: flex;
    justify-content: center;
    height: 7px;
    width: 1823px;
    margin-left: 94px;
    margin-right: 95px;
    margin-top: 80px;
    border-radius: 3px;
    background: #D9D9D9;
}

.cont_container3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.container3 {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    /*background-color: blueviolet;*/

    width: 900px;
    height: 159px;
}

.fotocaixa {
    height: 159px;
    width: 120px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.fotoAluno{
    height: 159px;
    width: 120px;
    border-radius: 12px;
    box-shadow: 2px 1px 0px 1px #000;
    box-sizing: border-box;
}

.icone-acessibilidade {
    height: 50px;
    width: 50px;
    box-shadow: 2px 1px 0px 1px #ffffff;
    border-radius: 12px;
    border: 3px solid #1ba100;
}

/* dentro do container 3*/
.cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

p {
   
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

.cont2 {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.status {
    display: grid;
    place-content: center;
    text-align: center;

    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 166px;
    height: 47px;
    /* left: 1005px; */
    /* margin-top: 65px; */

    background: #394538;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}   

.passar {
    display: grid;
    place-content: center;
    text-align: center;

    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #ffffff;
    box-shadow: 2px 1px 0px 1px #ffffff;
    box-sizing: border-box;
    width: 166px;
    height: 47px;

    background: #1ba100;
    border: 3px solid #1ba100;
    border-radius: 10px;
}

.passar:hover, .passar:active {
    font-size: 25px;
    /* padding-left: 2px; */
}


.faltante {
    display: grid;
    place-content: center;
    text-align: center;

    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #000000;
    box-shadow: 2px 1px 0px 1px #000;
    box-sizing: border-box;
    width: 166px;
    height: 47px;

    background: #fefefe;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}

.faltante:hover, .faltante:active {
    font-size: 25px;
    /* padding-left: 2px; */
}

.escondido {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.modal-input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.modal-confirm-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-confirm-button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 767px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .retornar {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 0px;
        border-bottom: 3px solid #ffff;
    }

    .espera {
        height: 48px;
        width: 220px;
        border-radius: 40px;
    
        font-size: 20px;
    }

    .containerUm {
        display: flex;
        justify-content: center;
        /* background-color: red; */
        width: 100%;
        height: max-content;
    }

    #formulario {
        justify-content: center;
        flex-direction: column;
    }

    .cpf {
        font-size: 20px;
    }

    .finalizar {
        width: 150px;
        height: 50px;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 600;
        border: none;
        box-shadow: 2px 1px 0px 1px #000;
        margin-top: 50px;
    }

    .input {
        height: 40px;
        width: 300px;
        font-size: 20px;
    }

    .fundo {
        padding-top: 30px;
    }

    .seta {
        height: 60px;
        margin-top: -13px;
        margin-left: 1px;
    }

    .proximo {
        width: 125px;
        height: 40px;
        margin-top: 0px;
    }

    
    .linha {
        display: flex;
        justify-content: center;
        height: 7px;
        width: 1823px;
        margin-left: 94px;
        margin-right: 95px;
        margin-top: 50px;
        border-radius: 3px;
    
        background: #D9D9D9;
    
    }

    .cont_container3 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 60px;
        height: max-content;
    }

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
        /* background-color: blueviolet; */
    
        width: 100%;
        height: auto;
    }

    .container2 {
        margin-bottom: 10px;
    }

    .fotocaixa {
        height: 159px;
        width: 120px;
        background-color: #FFFFFF;
        border-radius: 12px;
    }
    
    /* dentro do container 3*/
    .cont1 {
        padding-top: 30px;
        margin-top: 32px;
        /*background-color: #394538;*/
    }
    
    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: #FFFFFF;
    }
    
    p {
       
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    
    }
    
    .status {
        display: grid;
        place-content: center;
        text-align: center;
    
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        color: #FFFFFF;
        box-sizing: border-box;
        width: 150px;
        height: 40px;
    
        background: #394538;
        border: 3px solid #FFFFFF;
        border-radius: 10px;
    }

    .faltante {
        display: grid;
        place-content: center;
        text-align: center;
    
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        color: #000000;
        box-shadow: 2px 1px 0px 1px #000;
        box-sizing: border-box;
        width: 150px;
        height: 40px;
    
        background: #fefefe;
        border: 3px solid #FFFFFF;
        border-radius: 10px;
    }
    
    .faltante:hover, .faltante:active {
        font-size: 25px;
        /* padding-left: 2px; */
    }

    .passar {
        display: grid;
        place-content: center;
        text-align: center;
    
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        color: #ffffff;
        box-shadow: 2px 1px 0px 1px #ffffff;
        box-sizing: border-box;
        width: 150px;
        height: 40px;
    
        background: #1ba100;
        border: 3px solid #1ba100;
        border-radius: 10px;
        margin-top: 15px;
    }
    
    .passar:hover, .passar:active {
        font-size: 25px;
        /* padding-left: 2px; */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .logo {
        display: flex;
        justify-content: center;
    }

    .containerUm {
        display: flex;
        justify-content: center;
    }

    .cpf {
        font-size: 25px;
    }

    .input {
        height: 54px;
        width: 400px;
        font-size: 25px;
    }

    .botao1 {
        width: 150px;
        height: 54px;
        font-size: 22px;
        margin-left: 10px;
    }

    .proximo {
        width: 150px;
        height: 54px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .fundo {
        text-align: center;
        height: 100px;
        padding-top: 40px;
    }

    .seta {
        margin-top: -25px;
        margin-left: -15px;
    }

    .linha {
        display: flex;
        justify-content: center;
        height: 7px;
        width: 1823px;
        margin-left: 94px;
        margin-right: 95px;
        margin-top: 55px;
        border-radius: 3px;
    
        background: #D9D9D9;
    
    }

    .container3 {
        width: 750px;
    }
    
}